.container{
    font-family: monospace;
    display: flex;
}

.header{
    padding: 50px;
    background-color: darkviolet;
    color: white;
    text-align: center;
}

.nav, a, a:hover{
    text-decoration: none;
}

.maincont{
    flex-direction: column;
}

.foot{

}