.container{
    font-family: monospace;
    text-align: center;
    font-size: 16px;
}

.header{
    padding: 50px;
    background-color: darkviolet;
    color: white;
    text-align: center;
}

.nav, a, a:hover{
    text-decoration: none;
}

.maincont{
    flex-direction: column;
}

.foot{
    position: -webkit-sticky;
    text-align: center;
}